@page
@{ 
    Layout = "_Layout";
}

<h2> Novo Chamado </h2>

<form action="novo" method="POST">

    <div class="form-group">
        <input class="form-control" name="Descricao" required />
    </div>
    <div class="form-group">
        <button type="submit">Abrir Chamado</button>
    </div>

</form>