@{
    Layout = "_Layout";
}

<h2>Lista de Chamados</h2>

<div>
    <table class="table table-striped table-bordered">
        <thsead>
            <tr>
                <th>Protocolo</th>
                <th>Cliente</th>
                <th>Descricao</th>
                <th>Data Da Abertura</th>
                <th></th>
            </tr>

            @foreach (var chamado in @Model)
            {
                <tr>
                    <td> @chamado.Protocolo </td>
                    <td> @chamado.Cliente </td>
                    <td> @chamado.Descricao </td>
                    <td> @chamado.DataDaAbertura </td>
                    <td> <a class="btn btn-primary btn-sm" href="Chamados/Ver/@chamado.Protocolo"> Ver </a> </td>
                </tr>
            }
        </thsead>
    </table>
</div>

<div>
    <a href="/chamados/novo" class="btn btn-primary"> Abrir Chamado </a>
</div>